// nextflow.config

profiles {
    gpu_local {
        docker.enabled       = true
        docker.runOptions    = '--gpus all'
        process.executor     = 'local'
    }

    aws_batch {
        process.executor     = 'awsbatch'
        process.queue        = 'gpu-queue'
        aws.region           = 'us-east-1'
        aws.batch.cliPath    = '/usr/local/bin/aws'
        // Use p4d.24xlarge or g5.24xlarge instances for Parabricks
    }

    slurm {
        process.executor     = 'slurm'
        process.clusterOptions = '--gres=gpu:4'
        singularity.enabled  = true
        singularity.autoMounts = true
    }
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/trace.tsv"
}

manifest {
    name        = 'parabricks-precision-oncology'
    description = 'GPU-accelerated tumor-normal somatic variant calling'
    version     = '1.0.0'
    nextflowVersion = '>=23.04.0'
}
